<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <ci_stripeintegration>
            <general>
                <enabled>1</enabled>
                <api_key></api_key>
            </general>
        </ci_stripeintegration>
    </default>
</config>
